includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - routes
        - app

    excludePaths:
        - database/**.*

    # The level 9 is the highest level
    level: 6

    parallel:
        maximumNumberOfProcesses: 4

    noUnnecessaryCollectionCall: false

